/* Header */
header{
  user-select: none;

  .menu-item{
    list-style: none;
  }

  .sub-menu{
    display: none;
  }

  #header-content{
    display: flex;
    justify-content: center;
    padding: 1rem 0;

    #wrapper{
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      #wappen{
        display: flex;
        align-items: center;
        justify-content: space-between;

        #home{
          display: flex;
          align-items: center;
          gap: 1rem;

          img{
            width: 60px;
          }

          h4{
            color: var(--f-c-black);
            font-family: var(--f-light);
          }
        }

        #mobile{
          flex-flow: column wrap;
          justify-content: space-between;
          height: 2.5rem;
          width: 2.5rem;
          cursor: pointer;
          display: none;

          #bar-top,
          #bar-middle,
          #bar-bottom {
            height: 5px;
            background: var(--f-c-black);
            border-radius: 5px;
            margin: 3px 0;
            transform-origin: left;
            transition: all 0.5s;
          }

          .changeMobile #bar-top {
            transform: rotate(45deg);
          }

          .changeMobile #bar-middle {
            transform: translateX(1rem);
            opacity: 0;
          }

          .changeMobile #bar-bottom {
            transform: rotate(-45deg);
          }
        }
      }

      nav {
        li a{
          border-bottom: 3px #fff solid;
          color: var(--f-c-black);

          &:hover{
            border-bottom-color: var(--c-yellow) !important;
          }
        }

        & > ul{
          display: flex;
          justify-content: space-between;

          .menu-item-has-children a::after{
            content: url('../img/expand_more.svg');
            display: inline-block;
            vertical-align: middle;
          }

          .menu-item-has-children.active a::after{
            content: url('../img/expand_less.svg');
            display: inline-block;
            vertical-align: middle;
          }
        }
      }

      #menu{
        ul.menu > li.menu-item > a:first-of-type{
          color: var(--f-c-black);
          font-size: 1.5rem;
          font-family: var(--f-medium);
          width: 100%;
          display: block;
          position: relative;
        }

        ul.menu > .menu-item-has-children > a{
          border-bottom: 3px #ffffff solid;
        }

        .menu-item-has-children > a:first-child::after{
          content: url('../img/expand_more.svg');
          display: inline-block;
          vertical-align: middle;
          position: absolute;
          right: 0;
        }

        .menu-item-has-children.active > a:first-child::after{
          content: url('../img/expand_less.svg');
          display: inline-block;
          vertical-align: middle;
          position: absolute;
          right: 0;
        }

        .sub-menu{
          a{
            font-size: 1.15rem;
            width: 100%;
            display: block;
            text-align: left;
            color: var(--f-c-black);
          }
        }

        .menu{
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .menu-item-has-children ul{
            flex-direction: column;
            gap: 0.5rem;
            margin: 1rem 0;
            border-radius: 8px;
          }
        }
      }
    }
  }

  #dropdown{
    z-index: 9999;
    position: absolute;
    width: 100%;
    justify-content: center;
    background-color: var(--c-yellow);
    user-select: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    #dropdown-container{
      width: 80%;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;

      #dropdown-content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 12px;

        li{
          width: 30%;

          a{
            font-size: 1rem;
            color: var(--f-c-black);

            &:hover{
              text-decoration: underline;
            }
          }
        }


      }

      #closeMenu{
        align-self: flex-start;
        width: 28px;
        height: 28px;
        cursor: pointer;

        &:hover{
          opacity: 0.75;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  #mobile {
    display: flex !important;
  }
}
@media only screen and (min-width: 900px) {
  #menu {
    display: none !important;
  }
}