/* Header */
header {
  user-select: none;
}
header .menu-item {
  list-style: none;
}
header .sub-menu {
  display: none;
}
header #header-content {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
header #header-content #wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
header #header-content #wrapper #wappen {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #header-content #wrapper #wappen #home {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header #header-content #wrapper #wappen #home img {
  width: 60px;
}
header #header-content #wrapper #wappen #home h4 {
  color: var(--f-c-black);
  font-family: var(--f-light);
}
header #header-content #wrapper #wappen #mobile {
  flex-flow: column wrap;
  justify-content: space-between;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  display: none;
}
header #header-content #wrapper #wappen #mobile #bar-top,
header #header-content #wrapper #wappen #mobile #bar-middle,
header #header-content #wrapper #wappen #mobile #bar-bottom {
  height: 5px;
  background: var(--f-c-black);
  border-radius: 5px;
  margin: 3px 0;
  transform-origin: left;
  transition: all 0.5s;
}
header #header-content #wrapper #wappen #mobile .changeMobile #bar-top {
  transform: rotate(45deg);
}
header #header-content #wrapper #wappen #mobile .changeMobile #bar-middle {
  transform: translateX(1rem);
  opacity: 0;
}
header #header-content #wrapper #wappen #mobile .changeMobile #bar-bottom {
  transform: rotate(-45deg);
}
header #header-content #wrapper nav li a {
  border-bottom: 3px #fff solid;
  color: var(--f-c-black);
}
header #header-content #wrapper nav li a:hover {
  border-bottom-color: var(--c-yellow) !important;
}
header #header-content #wrapper nav > ul {
  display: flex;
  justify-content: space-between;
}
header #header-content #wrapper nav > ul .menu-item-has-children a::after {
  content: url("../img/expand_more.svg");
  display: inline-block;
  vertical-align: middle;
}
header #header-content #wrapper nav > ul .menu-item-has-children.active a::after {
  content: url("../img/expand_less.svg");
  display: inline-block;
  vertical-align: middle;
}
header #header-content #wrapper #menu ul.menu > li.menu-item > a:first-of-type {
  color: var(--f-c-black);
  font-size: 1.5rem;
  font-family: var(--f-medium);
  width: 100%;
  display: block;
  position: relative;
}
header #header-content #wrapper #menu ul.menu > .menu-item-has-children > a {
  border-bottom: 3px #ffffff solid;
}
header #header-content #wrapper #menu .menu-item-has-children > a:first-child::after {
  content: url("../img/expand_more.svg");
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 0;
}
header #header-content #wrapper #menu .menu-item-has-children.active > a:first-child::after {
  content: url("../img/expand_less.svg");
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 0;
}
header #header-content #wrapper #menu .sub-menu a {
  font-size: 1.15rem;
  width: 100%;
  display: block;
  text-align: left;
  color: var(--f-c-black);
}
header #header-content #wrapper #menu .menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
header #header-content #wrapper #menu .menu .menu-item-has-children ul {
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
  border-radius: 8px;
}
header #dropdown {
  z-index: 9999;
  position: absolute;
  width: 100%;
  justify-content: center;
  background-color: var(--c-yellow);
  user-select: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
header #dropdown #dropdown-container {
  width: 80%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
header #dropdown #dropdown-container #dropdown-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
header #dropdown #dropdown-container #dropdown-content li {
  width: 30%;
}
header #dropdown #dropdown-container #dropdown-content li a {
  font-size: 1rem;
  color: var(--f-c-black);
}
header #dropdown #dropdown-container #dropdown-content li a:hover {
  text-decoration: underline;
}
header #dropdown #dropdown-container #closeMenu {
  align-self: flex-start;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
header #dropdown #dropdown-container #closeMenu:hover {
  opacity: 0.75;
}

@media only screen and (max-width: 900px) {
  #mobile {
    display: flex !important;
  }
}
@media only screen and (min-width: 900px) {
  #menu {
    display: none !important;
  }
}

/*# sourceMappingURL=header.css.map */
