/* HOMEPAGE */
#container{
  width: 100%;
  background-image: url("../img/landschaft.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  #homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    margin: 40px 0;

    #title{
      text-align: center;
      font-size: 4rem;
      color: var(--c-white);
      font-family: var(--f-black);
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }

    #homeBtn{
      padding: 1rem 2rem;
      background-color: var(--c-yellow);
      border: none;
      color: var(--f-c-black);
      font-family: var(--f-medium);
      font-size: 1.25rem;
      transition: background-color 0.2s ease;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
      border-radius: 0.5rem 1.5rem;

      &:hover{
        background-color: var(--c-h-yellow);
      }
    }
  }
}

#news-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

article{
  border-radius: 8px;
  flex: 1;
  background-position: center;
  background-size: cover;

  img{
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .news-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  article{
    flex: unset;
  }
}