header {
  user-select: none;
  width: 100%;
  max-width: var(--max-width);

  .menu-item {
    list-style: none;
  }

  .sub-menu {
    display: none;
  }

  .header-content {
    display: flex;
    justify-content: center;
    padding: 1rem 0;

    .wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .wappen {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        a {
          display: flex;
          align-items: center;
          gap: 1rem;

          img {
            width: 3rem;
          }

          h4 {
            color: var(--f-c-black);
            font-family: var(--f-bold);
          }
        }

        .search-mobile {
          display: flex;
          gap: 2rem;

          .search-header {
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              fill: var(--f-c-black);
              transition: fill 0.25s ease;
            }

            &:hover {
              svg {
                fill: #5d5d5d;
              }
            }
          }

          .mobile {
            flex-flow: column wrap;
            justify-content: space-between;
            height: 2.5rem;
            width: 2.5rem;
            cursor: pointer;
            display: none;

            div {
              height: 5px;
              background: var(--f-c-black);
              border-radius: 5px;
              margin: 3px 0;
              transform-origin: left;
              transition: all 0.5s;
            }
          }

          .mobile-bars {
            .first {
              transform: rotate(45deg);
            }

            .second {
              transform: translateX(1rem);
              opacity: 0;
            }

            .third {
              transform: rotate(-45deg);
            }
          }
        }
      }

      nav {
        li a {
          display: flex;
          border-bottom: 3px transparent solid;
          color: var(--f-c-black);

          &:hover {
            border-bottom-color: var(--c-yellow) !important;
          }
        }

        & > ul {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 1rem;

          .menu-item-has-children a::after {
            content: url('../img/expand_more.svg');
            display: inline-block;
          }

          .menu-item-has-children.active a::after {
            content: url('../img/expand_less.svg');
            display: inline-block;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .mobile {
    display: flex !important;
  }
}
