/* Footer */
footer{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--c-green);

  #footer{
    width: 80%;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;

    #footer-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;

      #home-link img {
        width: 48px;
      }

      #admin {
        color: #ffffff;

        &::after {
          content: "↗";
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }

    ul{
      list-style-type: none;
    }

    .menu{
      display: flex;
      flex-wrap: wrap;
      gap: 48px;

      a{
        color: #ffffff;
      }

      & > li > a:first-child{
        font-size: 1.25rem;
      }

      .sub-menu{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;

        li a:hover{
          text-decoration: underline;
        }
      }
    }

    hr{
      border-color: var(--c-white);
    }

    #footer-cred{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1rem;

      a, p{
        color: #ffffff;
      }

      a:hover{
        text-decoration: underline;
      }
    }
  }
}
