img, iframe, .btn {
  user-select: none
}

a {
  text-decoration: none;
}

.filter-form {
  margin: 2rem 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  form {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}

.input {
  padding: 8px;
  outline: none;
  border: 3px #ababab solid;
  border-radius: 4px;
  transition: 0.2s border-color ease;
  font-size: 1rem;
  font-family: var(--f-regular);

  &:focus {
    border-color: var(--c-yellow);
  }
}

.input-btn {
  padding: 12px;
  font-family: var(--f-regular);
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: var(--c-yellow);
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--c-h-yellow);
  }
}

.green {
  background-color: var(--c-green);
  color: var(--f-c-secondary);

  &:hover {
    background-color: var(--c-h-green);
  }
}

.pagination-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;

  a {
    text-align: center;
  }
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;

  #root {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
}

.not-found {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  h1 {
    text-align: center;
    font-size: 2rem;
    font-family: var(--f-bold);
  }
}

.border-bottom-desktop {
  border-bottom-color: var(--c-yellow) !important;
}
.border-bottom-mobile {
  border-bottom-color: var(--f-c-primary) !important;
}

.top-btn {
  display: none;
  position: fixed;
  bottom: 8rem;
  right: 2.5rem;
  padding: 8px;
  justify-content: center;
  align-items: center;
  background-color: var(--c-yellow);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.25s ease;

  &:hover {
    background-color: var(--c-h-yellow);
  }
}

@media only screen and (max-width: 1425px) {
  .header-content .wrapper {
    margin: 0 var(--spacing-x);
  }

  section {
    padding: 0 var(--spacing-x);
  }

  .pagination-control {
    padding: 0 var(--spacing-x);
  }

  .page-banner {
    display: flex;
    justify-content: center;
  }

  .page-banner img {
    margin: 0 var(--spacing-x);
  }
}

@media only screen and (max-width: 900px) {
  nav {
    display: none;
  }

  .dropdown {
    display: none !important;
  }

  .news {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .welcome-title {
    font-size: 3rem !important;
  }
}
