main {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
main .page-banner {
  width: 100%;
  margin-bottom: 1rem;
}
main .page-banner img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
main section {
  width: 100%;
  margin-top: 2.5rem;
}
main section form input, main section form textarea, main section form select {
  padding: 0.5rem;
  border: 3px #ddd solid;
  outline: none;
  border-radius: 4px;
  transition: border-color 0.25s ease;
  font-size: 1rem;
}
main section form input:focus, main section form input:hover, main section form textarea:focus, main section form textarea:hover, main section form select:focus, main section form select:hover {
  border-color: var(--c-yellow);
}
main section form textarea {
  resize: vertical;
}
main section form input[type=submit] {
  background-color: var(--c-yellow);
  transition: background-color 0.2s ease;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}
main section form input[type=submit]:hover {
  background-color: var(--c-h-yellow);
}
main section ol, main section ul {
  margin-left: 2rem;
}
main section p {
  color: var(--f-c-black);
  margin: 0.75rem 0;
}
main section a {
  color: var(--f-c-blue);
  display: inline-block;
  width: fit-content;
}
main section a:after {
  display: block;
  content: "";
  border-bottom: solid 2px var(--f-c-blue);
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}
main section a:hover:after {
  transform: scaleX(1);
}
main section .ngg-galleryoverview a, main section #news-container a, main section #filter-form a, main section .not-found a {
  display: unset;
  width: unset;
  color: unset;
}
main section .ngg-galleryoverview a:after, main section #news-container a:after, main section #filter-form a:after, main section .not-found a:after {
  display: unset;
  content: "";
  border-bottom: unset;
}
main section #news-container a:hover, main section #filter-form a:hover {
  text-decoration: none;
}
main section #news-container a::after, main section #filter-form a::after {
  content: "";
}
main section h1, main section h2, main section h3, main section h4, main section h5, main section h6 {
  font-size: 2rem;
  color: var(--f-c-black);
  font-family: var(--f-bold);
  margin: 1rem 0;
}
main section h2 {
  font-size: 1.5rem;
  margin: 0.75rem 0;
}
main section h3 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}
main section h4 {
  margin: 0.3rem 0;
}
main section h5 {
  font-size: 0.85rem;
  margin: 0.25rem 0;
}
main section h6 {
  font-size: 0.7rem;
  margin: 0.2rem 0;
}
main section strong {
  font-family: var(--f-bold);
}
main section img {
  border-radius: 8px;
}
main section table {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
main section table thead {
  border: none !important;
}
main section table thead tr {
  background-color: var(--c-yellow);
  text-align: left;
  font-weight: bold;
}
main section table th, main section table td {
  padding: 12px 15px !important;
  border: none !important;
}
main section table tbody tr {
  border-bottom: 1px solid #dddddd;
}
main section table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
main section table tbody tr:last-of-type {
  border-bottom: 2px solid var(--c-yellow);
}
main section .wp-block-file a {
  padding: 12px;
  background-color: var(--c-green);
  transition: var(--transition-back-color);
  font-size: 1rem;
  border-radius: 2em;
  color: #ffffff;
}
main section .wp-block-file a:hover {
  opacity: 1;
  background-color: var(--c-h-green);
}
main section .wp-block-file .wp-element-button {
  text-decoration: underline;
  background-color: var(--c-yellow);
  color: var(--f-c-black);
}
main section .wp-block-file .wp-element-button:hover {
  background-color: var(--c-h-yellow);
}

.btn {
  padding: 12px;
  background-color: var(--c-yellow);
  border-radius: 8px;
  color: var(--f-c-black);
  transition: var(--transition-back-color);
}
.btn::after {
  content: "";
}
.btn:hover {
  background-color: var(--c-h-yellow);
  text-decoration: none;
}

.link {
  color: var(--f-c-blue);
  display: inline-block;
  width: fit-content;
}
.link:after {
  display: block;
  content: "";
  border-bottom: solid 2px var(--f-c-blue);
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}
.link:hover:after {
  transform: scaleX(1);
}

.link-white {
  color: #ffffff;
  display: inline-block;
  width: fit-content;
}
.link-white:after {
  display: block;
  content: "";
  border-bottom: solid 2px #ffffff;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}
.link-white:hover:after {
  transform: scaleX(1);
}

.no-link {
  display: unset;
  width: unset;
  color: unset;
}
.no-link:after {
  display: unset;
  content: "";
  border-bottom: unset;
}

/*# sourceMappingURL=style.wordpress.css.map */
